body {
    font-family: Bahnschrift;
    
    background-image: image-set('https://img.freepik.com/foto-gratis/papel-texturizado-liso-negro_53876-96064.jpg?t=st=1722411776~exp=1722415376~hmac=16c90bf2683abc68b40cbe2c44ae92ac23f53f1fbd948279f445a1c8a77e251e&w=740');
}

header {
    background: url('https://img.freepik.com/foto-gratis/hermoso-amanecer-cloudscape-atardecer-tarde_53876-16471.jpg?t=st=1722411268~exp=1722414868~hmac=64192dde6e05b1907d1a18c13c11890746943511a01dbf0579a6a6288263cf40&w=996') no-repeat center center/cover;
}

.card {
    margin-bottom: 20px;
    background-color: black;
}

#projects .row {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
    text-align: center;

}
.card {
    transition: transform 0.3s ease; 
}

.card:hover {
    transform: translateY(-10px); 
}
.skill {
    margin-bottom: 15px;
}

.progress {
    background-color: #e9ecef;
    border-radius: 0.25rem;
    height: 1.5rem;
}

.progress-bar {
    background-color: #007bff;
    color: white;
    line-height: 1.5rem;
    text-align: center;
    font-weight: bold;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease; 
}

.progress-bar:hover {
    background-color: #ff9800; 
}

